{% extends "main/backstage.html" %}
{% import "_macros.html" as macros %}

{% block content %}
    {{ super() }}
    <div id="back-body" class="back-box">
    {% for comm in comments %}
        <div class="comm-item" data-cid="{{ comm.id }}">
            <div class="user-face"><a href="{{ url_for('main.user_space', uid=comm.author_id)}}">
                {% if comm.author.avatar %}
                    <img class="img-circle" src="../../static/avatars/{{ comm.author.avatar }}">
                {% else %}
                    <img class="img-circle" src="../../static/avatars/default.jpg">
                {% endif %}
            </a></div>
            <div class="con">
                <a class="user-info" href="{{ url_for('main.user_space', uid=comm.author_id)}}" target="_blank">{{ comm.author.nickname }}</a>
                <p class="text">{{ comm.body }}</p>
                <div class="info">
                    <span class="time">{{ comm.date }}</span>
                    <span class="glyphicon glyphicon-ok" title="举报不成立，惩处举报者"></span>
                    <span class="glyphicon glyphicon-remove" title="举报成立，惩处发言者"></span>
                </div>
            </div>
        </div>
    {% endfor %}

        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'main.audit_video') }}
        </div>
    </div>
{% endblock %}
