{% extends "main/backstage.html" %}
{% import "_macros.html" as macros %}

{% block title %}用户日志 - Cyakka{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
{% endblock %}

{% block content %}
    <div id="log-body" class="back-box">
        <form class="log-form">
            <nav class="search-nav">
                {{ form.op(class="filter-type") }}
            </nav>
            <div class="search-input">
                {{ form.uid(placeholder="请输入需查询的用户id", autocomplete="off", maxlength="11") }}
{#                <span class="label label-primary"><span class="glyphicon glyphicon-search"></span>查找</span>#}
                <p class="light-on"></p>
            </div>
        </form>

        <table class="table">
        <tr>
            <th class="col-md-2">时间</th>
            <th class="col-md-2">用户ID</th>
            <th class="col-md-7">详细信息</th>
        </tr>
        {% for log in logs %}
        <tr class="user-info">
            <td class="col-md-2">{{ log.date }}</td>
            <td class="col-md-2"><a href="{{ url_for('main.user_space', uid=log.uid) }}" target="_blank">{{ log.uid }}</a></td>
            <td class="col-md-7">{{ log.detail }}</td>
        </tr>
        {% endfor %}
        </table>

        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, 'main.log_user') }}
            </div>
        {% endif %}
    </div>

    {{ super() }}
{% endblock %}

{#{% block scripts %}#}
{#    {{ super() }}#}
{#{% endblock scripts %}#}
