/* 侧边导航栏 backstage.html*/
#back-nav {
    position: fixed;
    top: 1rem;
    height: 8rem;
    width: 2rem;
    border-right: 1px solid #f4f4f4;
}
#back-nav .btn {
    color: #505050;
    font-size: 0.16rem;
    height: 0.46rem;
}
#back-nav .btn:hover {
    background-color: #fafafa;
    color: #c84954;
}

.back-box {
    width: 11rem;
    margin: 0.6rem 0 0.2rem 3rem;
}
.back-box a {
    color: #222222;
    vertical-align: middle;
}
.back-box a:hover {
    color: #c85050;
}
/*.back-box tr>td {*/
/*    height: 0.46rem;*/
/*    line-height: 0.46rem;*/
/*    vertical-align: middle;*/
/*}*/

/* 稿件审核区 video_audit.html*/
#back-body .v-audit .glyphicon {
    float: right;
    color: #6f7880;
    cursor: pointer;
    margin-right: 0.1rem;
}
#back-body .v-audit .glyphicon:hover {
    color: #c84954;
}

/* 评论管理区 comm_manage.html*/
#back-body .user-face img {
    width: 0.48rem;
    height: 0.48rem;
}
#back-body .user-face {
    float: left;
    position: relative;
    top: 0.2rem;
}
#back-body .con {
    margin-left: 0.85rem;
    padding: 0.22rem 0 0.14rem;
    border-top: 1px solid #e5e9ef;
}
#back-body .info>span {
    color: #99a2aa;
}
#back-body .info .glyphicon {
    margin-left: 0.2rem;
    cursor: pointer;
}
#back-body .info .glyphicon:hover {
    color: #c84954;
}
#back-body .con .user-info {
    font-size: 0.14rem;
    color: #6d757a;
    text-decoration: none;
}
#back-body .con .text {
    font-size: 0.14rem;
    margin-top: 0.1rem;
    margin-bottom: 0.05rem;
}

/* 用户管理区 user_manage.html*/
#back-body .user-info .img-circle {
    width: 0.36rem;
    height: 0.36rem;
}

/*  用户信息编辑 */
#edit-profile {
    margin-bottom: 1rem;
}
#about_me {
    resize: none;
    width: 100%;
    height: 1rem;
}
ul#permissions {
    list-style: none;
}
ul#permissions li {
    margin-right: 0.3rem;
    display: inline-block;
}


/* 搜索页面 - 过滤选项 search.html */
#server-search {
    width: 9rem;
    margin: 0 auto;
}

#server-search header {
    height: 0.4rem;
    width: 5rem;
    margin: 0.2rem auto;
}
#search-input {
    width: 4rem;
    padding: 0.1rem 0.15rem;
}

#server-search .search-history {
    position: absolute;
    width: 4rem;
    padding: 0.1rem 0;
    list-style: none;
    z-index: 3;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
}
#server-search .search-history li {
    cursor: pointer;
    height: 0.32rem;
    line-height: 0.32rem;
    padding: 0 0.15rem;
    transition: color .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
#server-search .search-history a {
    color: #222222;
    float: left;
    width: 95%;
    display: inline-block;
    text-decoration: none;
}
#server-search .search-history li:hover {
    background-color: #f4f4f4;
}
#server-search .search-history .glyphicon-remove {
    float: right;
    width: 5%;
    color: #8a8a8a;
    line-height: 0.32rem;
}
#server-search .search-history .glyphicon-remove:hover {
    color: #c84954;
}

#server-search header .label {
    display: inline-block;
    width: 0.8rem;
    font-size: 0.16rem;
    line-height: 0.3rem;
    margin-left: 0.1rem;
}
#server-search header .label:hover {
    cursor: pointer;
    opacity: 0.8;
}

.search-nav {
    font-size: 0.18rem;
    border-bottom: 1px solid #e5e9f0;
}
.search-nav .nav {
    margin: 0;
}
.search-nav label {
    padding-bottom: 0.2rem;
 }

#server-search .search-filter {
    font-size: 0.12rem;
    margin-top: 0.2rem;
    padding: 0.1rem 0;
    border-bottom: 1px solid #e5e9f0;
}
.filter-type {
    list-style: none;
    padding: 0;
  }
.filter-type li {
    display: inline-block;
    margin-right: 0.2rem;
}
.filter-type li>label {
    cursor: pointer;
    color: #222;
    font-weight: normal;
}
.filter-type li>label:hover {
    color: #c84954;
}
.filter-type li>input {
    display: none;
}


/* 搜索结果、个人空间 - 视频*/
.vd-list {
    padding: 0;
    margin-top: 0.3rem;
}
.vd-list li{
    list-style: none;
    height: 1.4rem;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid #e5e9ef;
}

.vd-list .left{
    float: left;
    height: 1rem;
    width: 1.6rem;
    overflow: hidden;
    margin-right: 0.2rem;
}
.vd-list .left img{
    height: 1rem;
    width: 1.6rem;
}
.vd-list .left img:hover {
    opacity: 0.8;
}
.vd-list .right{
    float: left;
    width: 7.2rem;
    padding-left: 0;
    padding-bottom: 0.2rem;
}
.vd-list .right .title {
    float: left;
    color: #222222;
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vd-list .right .title:hover {
    color: #c85050;
}

.vd-list .up-info {
    float: right;
    margin-right: 0.1rem;
    font-size: 0.12rem;
}
.vd-list .up-info .v-author {
    color: #99a2aa;
    display: inline-block;
    max-width: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vd-list .up-info .v-author:hover {
    color: #c84954;
}
.vd-list .up-info .v-date {
    color: #b8c0cc;
    border-left: 1px solid #ddd;
    padding-left: 0.1rem;
    margin-left: 0.1rem;
}

.vd-list .right .v-desc {
    color: #99a2aa;
    line-height: 20px;
    height: 0.54rem;
    font-size: 0.12rem;
    padding-top: 0.14rem;
    margin-bottom: 0.14rem;
    overflow: hidden;
    clear: both;
}
.vd-list .v-stat {
    float: left;
    font-size: 0.16rem;
}
.vd-list .v-stat>span {
    color: #6f7880;
    margin-right: 0.2rem;
}

/* 搜索结果 - 用户*/
.user-list {
    padding: 0;
    margin-top: 0.3rem;
}
.user-list li {
    height: 1.4rem;
    list-style: none;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid #ddd;
}

.user-list .left {
    float: left;
    margin-right: 0.2rem;
}
.user-list .left img {
    width: 0.9rem;
    height: 0.9rem;
}

.user-list .right {
    float: right;
    width: 7.9rem;
}
.user-list .right .u-info {
    margin-top: 0.1rem;
}
.user-list .right .label {
    margin-left: 0.14rem;
}
.user-list .right .desc {
    color: #99a2aa;
    font-size: 0.12rem;
    height: 0.4rem;
    line-height: 0.2rem;
    margin: 0.14rem 0;
    overflow: hidden;
    word-break: break-all;
}

#server-search .no-found {
    color: #99a2aa;
    font-size: 0.2rem;
    width: 1rem;
    margin: 0.3rem auto 0;
}

/* 用户日志 user_log.html */
/*    搜索条件ops借用search.html的样式 */
#log-body .search-nav {
    float: left;
}
#log-body .search-input {
    float: right;
}

/* 上传头像 - upload_avatar.html */
.avatar-form .avatar-label {
    cursor: pointer;
    float: left;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    background: #f1f2f5;
    border: 1px solid #e5e9ef;
    transition: all .6s ease;
}
.avatar-form .avatar-label:hover {
    background: #e5e9ef;
}
.avatar-form #avatar {
    display: none;
}
.avatar-form .glyphicon-picture {
    display: block;
    color: #717171;
    font-size: 0.4rem;
    margin: 0.5rem auto 0.2rem;
}

.avatar-form .border-line {
    float: left;
    height: 1.8rem;
    width: 1px;
    background: #e5e9ef;
    margin: 0 0.6rem;
}

.avatar-form .avatar-now {
    float: left;
    margin-top: 0.3rem;
}
.avatar-form .avatar-now img{
    width: 1rem;
    height: 1rem;
    overflow: hidden;
}
.avatar-form .avatar-now .pre-info {
    margin-top: 0.2rem;
    color: #99a2aa;
    text-align: center;
}

.avatar-form .avatar-desc {
    font-size: 0.12rem;
    line-height: 0.16rem;
    white-space: nowrap;
    color: #99a2aa;
    margin: 0.4rem 0;
}

.avatar-form #submit {
    display: block;
    width: 1.4rem;
    height: 0.4rem;
    text-align: center;
    margin: 0 auto;
}

/* 个人空间 - user_space.html */
.user-box {
    width: 12rem;
    margin: 0.2rem auto 0;
}
.user-box a {
    text-decoration: none;
}
.user-box header {
    height: 2.1rem;
    padding: 1.2rem 0 0.16rem 0.2rem;
    border: 1px solid rgba(154, 154, 154, 0.36);
}

.user-box .u-avatar {
    float: left;
    height: 0.68rem;
    width: 0.68rem;
    border-radius: 50%;
    border: 2px solid hsla(0, 0%, 30%, 0.4);
}
.user-box .u-avatar img {
    width: 0.64rem;
    height: 0.64rem;
}
.user-box .u-avatar a {
    position: absolute;
    width: 0.64rem;
    height: 0.64rem;
    color: #fff;
    opacity: 0;
    font-size: 0.12rem;
    line-height: 64px;
    text-align: center;
    border-radius: 50%;
    background: rgba(0,0,0,.4);
    transition: opacity .2s;
}
.user-box .u-avatar a:hover {
    opacity: 1;
}

.user-box .u-basic {
    float: left;
    margin: 0.1rem 0 0 0.2rem;
}
.user-box .u-basic .u-name {
    float: left;
    font-size: 0.18rem;
    font-weight: 700;
    line-height: 0.18rem;
    vertical-align: middle;
    margin-bottom: 0.1rem;
}
.user-box .u-basic .u-mail {
    float: left;
    color: #c96666;
    margin-left: 0.2rem;
}

.user-box .u-edit {
    float: right;
    padding-top: 0.26rem;
    margin-right: 0.2rem;
}

.user-box .u-nav {
    height: 0.6rem;
    margin-bottom: 0.1rem;
    border-bottom: 1px solid rgba(154, 154, 154, 0.36);
}
.user-box .u-nav>a {
    display: inline-block;
    color: #505050;
    line-height: 0.6rem;
    margin-left: 0.3rem;
}
.user-box .u-nav>a:hover {
    color: #c85050;
}
.user-box .u-nav span.label {
    font-size: 0.08rem;
    background-color: #c95050;
}
.user-box .u-nav .glyphicon-gift {
    color: #f9c86d;
}
.user-box .u-nav .glyphicon-time {
    color: #d7643c;
}
.user-box .u-nav>span {
    float: right;
    line-height: 0.6rem;
    margin-right: 0.3rem;
}

.user-box .u-videos {
    clear: both;
    margin: 0.3rem 0;
}
.user-box .u-videos .div {
    color: #222222;
    font-size: 0.18rem;
    display: inline-block;
    margin: 0.1rem 0;
}
.user-box .u-videos .div:hover {
    color: #c85050;
    transition: color .2s;
}

.user-box .storey-box .spread-module{
    float: left;
    height: 2rem;
    width: 2.2rem;
    margin: 0.1rem;
    font-size: 0.12rem;
    overflow: hidden;
}
.user-box .spread-module .lazy-img {
    width: 100%;
    height: 1.3rem;
    background: url('../../static/video_faces/lazy_img.png') 50% no-repeat;
}
.user-box .spread-module img{
    height: 1.3rem;
    width: 2.2rem;
}
.user-box .spread-module img:hover {
    opacity: 0.8;
}

.user-box .spread-module .title {
    height: 0.4rem;
    padding-top: 0.08rem;
    color: #222;
    overflow: hidden;
}
.user-box .spread-module .title:hover {
    color: #c95050;
    transition: color .2s;
}
.user-box .spread-module .info {
    height: 0.2rem;
    color: #99a2aa;
    padding: 0 0.1rem;
    margin-top: 0.1rem;
    background-color: #fff;
}
.user-box .spread-module .info .date {
    float: right;
}
.user-box  .vd-list {
    margin-top: 0.6rem;
}
.user-box  .vd-list li {
    height: 1.6rem;
}
.user-box  .vd-list .left {
    height: 1.3rem;
    width: 2.2rem;
    margin-right: 0.3rem;
}
.user-box  .vd-list .left img {
    height: 1.3rem;
    width: 2.2rem;
}
.user-box  .vd-list .right {
    width: 9.5rem;
}
.user-box .vd-list .right .title {
    font-size: 0.16rem;
}
.user-box  .vd-list .right .v-desc {
    height: 0.74rem;
}
