<ul class="vd-list">
    {% for v in videos %}
    <li>
        <div class="left"><a href="{{ url_for('video.play', av=v.id) }}">
            <img src="../../static/video_faces/{{ v.face }}" alt="{{ v.title }}"/>
        </a></div>
        <div class="right">
            <a href="{{ url_for('video.play', av=v.id) }}" target="_blank" class="title">{{ v.title }}</a>
            <div class="up-info">
                <a href="{{ url_for('main.user_space', uid=v.author_id) }}" class="v-author">{{ v.author.username }}</a>
                <span class="v-date">{{ v.date }}</span>
            </div>
            <div class="v-desc">{% if v.desc%}{{ v.desc }}{% else %}{{ "视频简介吧."*37 }}{% endif %}</div>
            <div class="v-stat">
                <span title="点赞数" class="like">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <span class="statistic">{{ macros.v_trunc(v.like) }}</span>
                </span>
                <span title="硬币数" class="coin">
                    <span class="glyphicon glyphicon-copyright-mark"></span>
                    <span class="statistic">{{ macros.v_trunc(v.coin) }}</span>
                </span>
                <span title="收藏数" class="collect">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="statistic">{{ macros.v_trunc(v.collect) }}</span>
                </span>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
